// Project variables

$header-font: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
$code-font: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
$base-font: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
$red: rgb(221,0,72);