<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} | CowDev</title>
   {% if page.metaTitle %}
   <meta name="title" content="{{ page.metaTitle }}">
   {% else %}
   <meta name="title" content="{{ page.title }} | CowDev">
   {% endif %}
   {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
   <meta name="author" content="Sander Koedood" />
   {% stylesheet style %}
</head>
<body>
	{{ content }}
</body>
</html>
